{% load static %}

<div class="Header">
    
    <a href="/">    
        <div class="logo">
            <img src="{% static 'TORI_LOGO.png' %}"/>
            <p>TORI TECH (仮)</p>
        </div>
    </a>


    <div class="web_link">
        <a href="/">home</a>
        <a href="/profile/">profile</a>
    </div>


    <a href="https://www.instagram.com/tori1209riku?igsh=MWhodnJucWVkd2lweQ%3D%3D&utm_source=qr" target="_blank">    
        <div class="ins_logo">
            <img src="{% static 'instagram_LOGO.png' %}"/>
        </div>
    </a>

    <a href="/" target="_blank">    
        <div class="x_logo">
            <img src="{% static 'x_LOGO.png' %}"/>
        </div>
    </a>       
    
    <a href="/" target="_blank">    
        <div class="mail_logo">
            <img src="{% static 'mail_LOGO.png' %}"/>
        </div>
    </a>

</div>