{% extends "base.html" %}
{% load static %}

{% block main %}

<body>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</body>

<h1 id="main-title">TORI TECH (仮)</h1>

{% if username %}


    <h1 id="main-user">{{ username }}さんようこそ！</h1>
    {% else %}
    <h1 id="main-user">ゲストさんようこそ！</h1>
    {% endif %}

<h1 id="main-information-title">information</h1>

<h1 id="line"></h1> <!-- 線 -->


{% if information_list %}
    {% for info in information_list %}

        <h1 id="main-information">

            <a class="date">{{ info.date }}</a>
            <a class="title">{{ info.title }}</a>

        </h1>

        <h1 id="line"></h1> <!-- 線 -->

    {% endfor %}
{% else %}

    <p>お知らせはありません。</p>

{% endif %}

{% endblock %}



